.hero-text {
  /* padding: 20vh 8vh 0vh 8vh; */
  display: flex;
  padding: 5vh 8vh;
  justify-content: space-evenly;
  align-items: center;
  background: #f0f0f0;
  padding-bottom: 0.1%;
}


.hero-heading h1 {
  font-weight: 1000;
  font-family: "Anton", sans-serif;
  font-size: 69px;
  line-height: 58px;
  padding-top: 2vh;
}

.hero-heading p {
  line-height: 22px;
  padding: 3vh;
  color: #45424299;
  padding-left: 1%;
}

.hero-heading button {
  background: #000000;
  color: #ffffff;
  margin-top: 1vh;
  padding: 1.5vh 5.5vh;
  border-radius: 62px;
  font-size: 14px;
}

.hero-heading button:hover {
  background: #535353;
  color: #ffffff;
}

.hero-stocks {
  display: flex;
  gap: 3vw;
  padding: 5vh;
  padding-left: 0%;
}

.stock-details h2 {
  font-size: 30px;
}

.stock-details p {
  font-weight: 500;
  font-size: 16px;
  padding: 0;
}

/* TEXT MAIN HERO COMPPLETE */

.brand-logos {
  height: 122px;
  background-color: #000000;
  justify-content: center;
  gap: 80px;
  padding: 4% 8vh;
}

.hero-img img {
  width: 500px;
  border: none;
  outline: none;
  background: transparent;
  
}

.hero-img img:hover {
  transform: scale(1.02);
  transition: transform 0.9s ease-in-out;
  cursor: pointer;
}

/* BRAND LOGOS COMPLETE */

.brand-logos{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}